.botao-main{
    font-size: 11pt;
    font-family: 'Ubuntu';
    color: #fff;
    background: #005b00;
    padding: 5px;
    border: solid 1px #009900;
    border-radius: 5px;
}
.botao-main:hover{
    background: #009900;
}
.todo-item-text{
    font-size: 14pt;
    font-family: 'Raleway';
}
.todo-lista{
    background: #f5f5f5;
    padding-top: 9px;
    padding-bottom: 9px;
}
.botao-feito{
    font-size: 10pt;
    color: #fff;
    background: #00005b;
    padding: 4px 15px;
    border-radius: 5px;
}
.botao-feito:hover{
    color: #fff;
    background: #00007b;
}
.botao-excluir{
    font-size: 10pt;
    color: #fff;
    background: #5b0000;
    padding: 4px 15px;
    border-radius: 5px;
}
.botao-excluir:hover{
    color: #fff;
    background: #7b0000;
}
@media only screen and (max-width: 700px) {
    .notCelular {
        display: none;
    }
    .titulo-principal{
        font-size: 20pt;
    }
    .todo-item-text{
        font-size: 11pt;
    }
    .botao-feito{
        font-size: 9pt;
        padding: 3px 6px;
    }
    .botao-excluir{
        font-size: 9pt;
        padding: 3px 6px;
    }
}